[submodule "dependencies/optional"]
	path = dependencies/optional
	url = https://github.com/rharel/csharp-optional.git
[submodule "dependencies/require"]
	path = dependencies/require
	url = https://github.com/rharel/csharp-require.git
